@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    @if (User.IsInRole("Professor"))
    {
        <h1 class="display-4">Welcome Professor</h1>
    }
	@if (User.IsInRole("Aluno"))
	{
		<h1 class="display-4">Welcome Aluno</h1>
	}
</div>
